/*
 * Copyright (c) 2024 HES-SO Valais, ECS, Sion
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    leds {
        compatible = "gpio-leds";

        ext_led0: ext_led0 {
            gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
            label = "LED 0";
        };

        ext_led1: ext_led1 {
            gpios = <&gpioh 6 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        };

        ext_led2: ext_led2 {
            gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
            label = "LED 2";
        };

        ext_led3: ext_led3 {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
            label = "LED 3";
        };
    };

    buttons {
        /* TODO: Add buttons for the extension board. */
        
        compatible = "gpio-keys";
        button0: button0 {
            gpios = <&gpioi 2 GPIO_ACTIVE_LOW>;  // PI2
            label = "Button 0";
        };
        button1: button1 {
            gpios = <&gpioi 3 GPIO_ACTIVE_LOW>;  // PI3
            label = "Button 1";
        };
        button2: button2 {
            gpios = <&gpiog 7 GPIO_ACTIVE_LOW>;  // PG7
            label = "Button 2";
        };
        button3: button3 {
            gpios = <&gpiog 6 GPIO_ACTIVE_LOW>;  // PG6
            label = "Button 3";
        };
    };

    aliases {
        ext-led0 = &ext_led0;
        ext-led1 = &ext_led1;
        ext-led2 = &ext_led2;
        ext-led3 = &ext_led3;
        
        /* TODO: Add aliases to buttons needed by the 'board/hal/buttons' package. */
        
        button-0 = &button0;
        button-1 = &button1;
        button-2 = &button2;
        button-3 = &button3;    
    };
};
